[submodule "external/changelog"]
	path = external/changelog
	url = git@github.com:cketti/ckChangeLog.git
[submodule "external/actionbarsherlock"]
	path = external/actionbarsherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
[submodule "external/storageutils"]
	path = external/storageutils
	url = git@github.com:uberspot/AndroidStorageUtils.git
